<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" sec:authorize="isAuthenticated()">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Départements</title>
  </head>
  <body>
  	<header>
  		<p class="h1 text-center">Départements</p>
  		<nav class="navbar navbar-nav navbar-text navbar-expand-lg">
    		<ul class="list-unstyled list-group list-group-horizontal">
    			<li class="list-group-item"><a class="navbar-brand nav-link link-primary" href="/">Accueil</a></li>
    			<li class="list-group-item"><a class="navbar-brand nav-link link-primary" href="/celebrites">Célébrités</a></li>
    			<li class="list-group-item"><a class="navbar-brand nav-link link-primary" href="/monuments">Monuments</a></li>
    			<li class="list-group-item"><a class="navbar-brand nav-link link-primary" href="/lieux">Lieux</a></li>
    			<li class="list-group-item"><a class="navbar-brand nav-link link-primary" href="/departements">Départements</a></li>
    			<li class="list-group-item"><a class="navbar-brand nav-link link-secondary" href="/logout">Se déconnecter</a></li>
			</ul>
		</nav>
  		<hr />
  	</header>
  	<main>
		<p class="h2 text-center">Liste des <span th:text="${nombreDepartements}"></span> départements :</p>
	    <div class="table-responsive container" style="max-height: 500px">
	        <table class="table table-hover table-bordered table-striped">
	        	<tr class="table-primary">
	        		<th scope="col">Numéro de département</th>
	        		<th scope="col">Nom</th>
	        		<th scope="col">Chef lieu</th>
	        		<th scope="col">Région</th>
	        		<th scope="col">Lieux à visiter</th>
	        	</tr>
	        	<th:block th:each="departement : ${listeDepartements}">
	        		<tr class="table-secondary">
				        <td th:utext="${departement.dep}"></td>
				        <td th:utext="${departement.nomDep}"></td>
				        <td th:utext="${departement.chefLieu.nomCom}"></td>
				        <td th:utext="${departement.reg}"></td>
				        <td>
				        	<th:block th:if="${#arrays.length(departement.lieux) == 0}">
				        		<p class="text-decoration-underline" th:text="Aucun"></p>
				        	</th:block>
					        <th:block th:each="lieu : ${departement.lieux}">
		            			<p class="text-decoration-underline" th:utext="${lieu.nomCom}"></p>
		        			</th:block>
	        			</td>
			        </tr>
	            </th:block>
	        </table>
	        <hr />
	    </div>
	    <div class="container">
	    	<form action="departementById">
	    		<p class="h2">Rechercher un département :</p>
	    		<br />
	    		<select name="id" class="form-select">
	    			<option th:value="${departement.dep}" th:each="departement: ${listeDepartements}">
	    				<span th:utext="${departement.dep} + ' (' + ${departement.nomDep}+ ')' "></span>
	    			</option>
	    		</select>
	    		<input type="submit" value="Rechercher" class="btn btn-primary">
	    	</form>
	    	<br />
	    	<form action="ajoutDepartement" method="post" sec:authorize="hasRole('ADMIN')" th:if="${nombreDepartements} != null">
	    		<p class="h2">Ajouter/modifier un département</p>
	    		<br />
	    		<label for="id">Numéro de département : </label>
	    		<input type="text" name="id" pattern="[0-9]{2-3}" class="form-control" required><br />
	    		<label for="nomDep">Nom de département : </label>
	    		<input type="text" name="nomDep" class="form-control" required><br />
	    		<label for="codeInseeChefLieu">Code insee du chef lieu de département : </label>
	    		<input type="text" name="codeInseeChefLieu" class="form-control" required><br />
	    		<label for="reg">Région : </label>
	    		<input type="text" name="reg" class="form-control" required><br />
	    		<label for="lieux[]">Lieux associés : </label>
	    		<select name="lieux[]" class="form-select" required>
	    			<option th:each="lieu : ${listeLieux}">
	    				<span th:utext="${lieu.codeInsee}"></span>
	    				<span th:utext="'(' + ${lieu.nomCom} + ')' "></span>
	    			</option>
	    		</select>
	    		<input type="submit" value="Ajouter" class="btn btn-primary">
	    	</form>
	    	<br />
	    	<form action="suppressionDepartement" sec:authorize="hasRole('ADMIN')">
	    		<p class="h2">Supprimer un département :</p>
	    		<br />
	    		<select name="id" class="form-select">
	    			<option th:value="${departement.dep}" th:each="departement: ${listeDepartements}">
	    				<span th:utext="${departement.nomDep}"></span>
	    			</option>
	    		</select>
	    		<input type="submit" value="Supprimer" class="btn btn-primary">
	    	</form>
	    </div>
    </main>
  </body>
</html>